<section id="acerca" class="about section container full-lg-screen">
  <article class="text-lg-right">
    <aside class="text-center text-lg-right">
      <h1>Juan Guzman</h1>
      <h5>Software Engineer</h5>
    </aside>
    <p>Tengo la experiencia en Desarrollo de sitios <i>web</i> para pequeñas y medianas empresas.</p>
    <p>Me aseguro de utilizar siempre las ultimas <i>tecnologias</i> de Desarrollo web: HTML, CSS3,
      JavaScript, <i>Framework Front-End</i>: Angular, Bootstrap. Si nesecitas una pagina web moderna
      funcional, que se adapte a todos los tipos de pantalla, te aseguro que llegaste al
      lugar correcto</p>
    <p> Disfruto llevar Acabo la Maquetacion e interactividad de interfaces <i>Web</i> asi como
      la optimizacion para el posicionamiento y rendimiento de la pagina web</p>
    <p>Puedes ponerte en contacto conmigo a traves de facebook, Linkedin o completando
      el formulario de contacto que se encuentra en el apartado Contacto.</p>
    <div class="text-center text-lg-left">
      <a class="btn" href="../../../../assets/resources/cv.pdf" target="_blank" rel="noopener noreferrer">DESCARGA MI
        CV</a>
    </div>
  </article>
  <article>
    <img class="gray-scale" src="../../../../assets/resources/juan.png" alt="juan">
  </article>
  <article>
    <h2 class="text-center text-lg-left">Mis Habilidades</h2>
    <div class="progress">
      <p>
        <b><i>Html</i></b>
        <b>80%</b>
      </p>
      <progress value="70" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b><i>CSS</i></b>
        <b>70%</b>
      </p>
      <progress value="70" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>Desarollo <i>Web Front End</i></b>
        <b>70%</b>
      </p>
      <progress value="70" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>Framework <i>Angular</i></b>
        <b>70%</b>
      </p>
      <progress value="70" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>Diseño <i>Web</i></b>
        <b>65%</b>
      </p>
      <progress value="65" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>firebase</b>
        <b>60%</b>
      </p>
      <progress value="60" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>Ionic</b>
        <b>60%</b>
      </p>
      <progress value="60" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>Phython</b>
        <b>60%</b>
      </p>
      <progress value="60" min="0" max="100"></progress>
    </div>
    <div class="progress">
      <p>
        <b>WEB scraping</b>
        <b>60%</b>
      </p>
      <progress value="60" min="0" max="100"></progress>
    </div>
  </article>
</section>