/* ********* site styles****** */

.about > article {
  margin-bottom: 2rem;
}
progress {
  width: 100%;
  height: 1rem;
  background-color: #ccc;
}

progress::-webkit-progress-bar {
  background-color: #ccc;
}

progress::-webkit-progress-value {
  background-color: #666;
}

progress::-moz-progress-bar {
  background-color: #666;
}

.progress {
  margin: 1rem auto;
}

.progress > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}
