<section class="content" id="about">
  <div class="block-content">
      <h3 class="block-title">Perfil</h3>
      <h3 class="subheading">¡Hola! soy Juan Choque <strong> Ingeniero en Sistemas & Programador BackEnd/FrontEnd</strong></h3>
      <p> Tengo la experiencia en desarrolo de sitios
        web para pequeñas y medianas empresas.
      </p>
      <p>Me aseguro de utilizar siempre las ultimas tecnologias de desarrollo web:
        HTML, CSS3, Lenjuajes de JavaScript Frontend, Angular, Backend Nodejs, CodeIgniter, base de datos MongoDB, Mysql. Si nesecitas una pagina web moderna, funcional, que se adapte a todos los diferentes tipos de pantalla,
        te aseguro que llegaste al lugar correcto</p>
      <p>puedes ponerte en contacto conmigo a traves de facebook, Linkedin o completando el formulario
        de contacto que se encuentra en el apartado Contacto.</p>
      <div class="info-list row">
          <div class="col-sm-6"><span>Nombre : </span> Juan Choque</div>
          <div class="col-sm-6"><span>Dirección : </span> Bolivia, Cochabamba.</div>
          <div class="col-sm-6"><span>Email : </span> juanchoquejcg@gmail.com</div>
          <div class="col-sm-6"><span>Telefono : </span> + 59177457906</div>
          <div class="col-sm-6"><span>Interes : </span> Frelance, Full-Time</div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Profesional</h3>
      <label class="progress-bar-label">HTML5</label>
      <div class="progress">
          <div style="width: 90%;" class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span>90%</span>
          </div>
      </div>
      <label class="progress-bar-label">CSS3</label>
      <div class="progress">
          <div style="width: 80%;" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              <span>80%</span>
          </div>
      </div>
      <label class="progress-bar-label">Angular</label>
      <div class="progress">
          <div style="width: 60%;" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              <span>60%</span>
          </div>
      </div>
      <label class="progress-bar-label">Ionic</label>
      <div class="progress">
          <div style="width: 60%;" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              <span>60%</span>
          </div>
      </div>
      <label class="progress-bar-label">NodeJS</label>
      <div class="progress">
          <div style="width: 30%;" class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
              <span>30%</span>
          </div>
      </div>
      <label class="progress-bar-label">Firebase</label>
      <div class="progress">
          <div style="width: 30%;" class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
              <span>60%</span>
          </div>
      </div>
      <label class="progress-bar-label">MySQL</label>
      <div class="progress">
          <div style="width: 70%;" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              <span>70%</span>
          </div>
      </div>
      <label class="progress-bar-label">SQL</label>
      <div class="progress">
          <div style="width: 70%;" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              <span>70%</span>
          </div>
      </div>
      <label class="progress-bar-label">Laravel</label>
      <div class="progress">
          <div style="width: 30%;" class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
              <span>30%</span>
          </div>
      </div>
      <label class="progress-bar-label">PHP</label>
      <div class="progress">
          <div style="width: 70%;" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              <span>70%</span>
          </div>
      </div>
      <label class="progress-bar-label">Java</label>
      <div class="progress">
          <div style="width: 20%;" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
              <span>20%</span>
          </div>
      </div>
      <label class="progress-bar-label">JQuery</label>
      <div class="progress">
          <div style="width: 40%;" class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
              <span>40%</span>
          </div>
      </div>
      <label class="progress-bar-label">C++</label>
      <div class="progress">
          <div style="width: 10%;" class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
              <span>10%</span>
          </div>
      </div>

  </div>
  <div class="block-content">
      <h3 class="block-title">Experiencia</h3>
      <div class="timeline experience">
          <div class="row">
              <div class="col-md-12">
                  <div class="exp-holder">
                      <div class="exp">
                          <div class="hgroup">
                              <h4><span>App</span> Aplicacion Movil</h4>
                              <h5>Agosto 2020 - <span class="current">Present</span></h5>
                          </div>
                          <p> desarrollo de una app para un ginnasio en framework ionic con angular, Capacitor, javascript base de datos firebase</p>
                      </div>
                      <div class="exp">
                          <div class="hgroup">
                              <h4><span>Landing page</span> Pagina web </h4>
                              <h5>mayo 2020</h5>
                          </div>
                          <p>Pagina de información
                            Isacc Newton con html Css Javascript.</p>
                      </div>
                      <div class="exp">
                          <div class="hgroup">
                              <h4><span>Sistema de Administracion</span> Prodent</h4>
                              <h5>marzo 2020</h5>
                          </div>
                          <p>Se realizo un sistema de administracion para el instituto de Protesis Dental Prodent en Framework Codeigniter, Lenguaje PHP, Base de datos MYSQL, Javascript , Ajax, jquery..</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Educación</h3>
      <div class="timeline education">
          <div class="row">
              <div class="col-md-12">
                  <div class="exp-holder">
                      <div class="exp">
                          <div class="hgroup">
                              <h4>Ing de Sistemas | <span>Licenciatura</span></h4>
                              <h5>2013 -  2019</h5>
                          </div>
                          <p>Estudie ingenieria de sistemas en la universidad Mayor de San Simon en mi Ciudad Cochabamba </p>
                      </div>
                      <div class="exp">
                          <div class="hgroup">
                              <h4>Educación
                                técnico Superior en electronica  <span>Tecnico Superior</span></h4>
                              <h5> 2012 - May 2015</h5>
                          </div>
                          <p>Durante el curso que hice como técnico en electrónica, aprendí robótica,
                            programación c ++, circuitos electrónicos de hardware de computadora
                            Opté por la especialidad del área de electrónica industrial, también hice
                            programación en Arduino y uso de dispositivos electrónicos, como sensores</p>
                      </div>
                      <div class="exp">
                          <div class="hgroup">
                              <h4>NAS
                                CBR (NETWORK ADMINISTRATION SPECIALIST) | <span>Academy expert
                                  Mikrotik</span></h4>
                              <h5>agosto 2016 - dic 2016</h5>
                          </div>
                          <p>Routing Switching.
                            Modelo OSI (Capas: Física, Enlace, Red, Transporte, Sesión, Presentación y
                            Aplicación.
                            Modelo TCP / IP (capas: red, Internet, transporte e interfaz de aplicaciones)</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Servicios</h3>
      <div class="row">
          <div class="col-md-6 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-laptop"></i>
              </div>
              <h4>Diseño web | desarrollo web</h4>
              <p>Pagina web atractivas y funcionales con el objetivo de satisfacer todas tus
                expectativas. La importacia del diseño es fundamental para tener exito y atraer
                a tus visitantes. Tambien lo es la velocidad de carga de tu sitio web, deben ser
                rapidos para que el visitante tenga la mejor experiencia.</p>
          </div>
          <div class="col-md-6 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-pie-graph"></i>
              </div>
              <h4>Desarrollo de Aplicaciones</h4>
              <p>Las aplicaciones Moviles hoy en dia estan mas presentes en la vida de seres humanos el rol que cumplen son fundamental ya se para ventas o facilitar al usuario un servicio.</p>
          </div>
          <div class="col-md-6 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-paintbucket"></i>
              </div>
              <h4>Autoadministrable</h4>
              <p>Es importante que puedas administrar tu pagina web vos mismo desde cualquier lugar y en cualquier momento
                Desarrollo de sistemas de gestion de contenido que te permitan ver los datos de tu pagina web y editar el
                contenido
                que quieras, lo que te permite mantenerte actualizado.</p>
          </div>
          <div class="col-md-6 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-printer"></i>
              </div>
              <h4>Matenimiento</h4>
              <p>Podras contactarme si nesecitas catualizar tu pagina web, agregar nuevas secciones o cualquier cambio que
                necesites
                Esto es perfecto para los sitios web de pequeñas empresas, donde no se necesita un diseñador de paginas
                web
                a tiempo completo, sino solo en distintas ocasiones.</p>
          </div>
          <!-- <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-qr-scanner"></i>
              </div>
              <h4>Graphic Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-social-buffer"></i>
              </div>
              <h4>Print Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div> -->
      </div>
  </div>
  <!-- <div class="block-content">
      <h3 class="block-title">Awards</h3>
      <div class="row">
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\1.jpeg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\2.jpeg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\3.jpeg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\4.jpeg" alt="">
          </div>
      </div>
  </div> -->
  <!-- <div class="block-content">
      <h3 class="block-title">Testimonios</h3>
      <div class="row">
          <div id="liontestimonial" class="owl-carousel owl-theme">
              <div class="item testimonials">
                  <img src="assets\images\testimonials\1.jpeg" alt="">
                  <blockquote>Trabajo con Anderson en varios proyectos de desarrollo web y creo que es extremadamente
                      desarrollador FrontEnd creativo y técnico. La experiencia de Anderson implica la construcción
                      compleja de diseño receptivo con HTML 5, CSS3 y JavaScript.
                      <p class="quote"><span>Jose Bonifacio</span> - Analista Desarrollador TI</p>
                  </blockquote>
              </div>
              <div class="item testimonials">
                  <img src="assets\images\testimonials\2.jpeg" alt="">
                  <blockquote>Trabajo con Anderson en varios proyectos de desarrollo web y creo que es un desarrolador FrontEnd y BackEnd extremadamente creativo.
                      <p class="quote"><span>Cristian López</span> - Infraestructura de TI</p>
                  </blockquote>
              </div>
          </div>
      </div>
  </div>
  <div class="row text-center">
      <div class="col-md-12 btn-email">
          <a class="btn lowercase">davisanderson87@gmail.com</a>
      </div>
  </div> -->
</section>

