<section id="portafolio" class="portfolio section">
  <div class="container">
    <h2 class="section-title">Mis Trabajos</h2>
    <a href="#trabajo-1" class="portfolio-card">
      <img src="../../../../assets/resources/prodent.png" alt="trabajo1">
      <aside class="portfolio-card-inf">
        <div>
          <h3>Sistema de Administracion Academico</h3>
          <p>
            Se realizo el sistema de Administracion Academico para un Instituo de protesis dental
            se implemento funciones para docentes, Alumnos, y personal administrativo
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-2" class="portfolio-card">
      <img src="../../../../assets/resources/isacnewton.png" alt="trabajo2">
      <aside class="portfolio-card-inf">
        <div>
          <h3>Plataforma informativa Preparacion Preuniversitaria</h3>
          <p>
            Es una plataforma informativa sobre los cursos preuniversitarios
            se implemento la funcion de gestionar informacion de los cursos
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-3" class="portfolio-card">
      <img src="../../../../assets/resources/mathews.PNG" alt="trabajo3">
      <aside class="portfolio-card-inf">
        <div>
          <h3>Pagina Web</h3>
          <p>
            At Mathew’s Painting, LLC we have over 30 years of experience in the
            paint, remodeling and construction industry. Our portfolio of jobs
            includes residential and commercial projects. Our owner, Mr. Salazar,
            has experience in different areas of the country and can offer advice
            based on your area’s weather, house material, landscape and other
            related factors that could impact your paint decisions.
          </p>
        </div>
      </aside>
    </a>
  </div>
</section>


<article class="modal" id="trabajo-1">
  <div class="modal-content">
    <a href="#close" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z" />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="../../../../assets/resources/prodent.png" alt="Trabajo1">
      <div class="portfolio-info">
        <h3>SISTEMA DE ADMINISTRACION ACADEMICO</h3>
        <P>
          Se realizo el sistema de Administracion Academico para un Instituo de protesis dental
          se implemento funciones para docentes, Alumnos, y personal administrativo
        </P>
        <aside class="portfolio-details">
          <small><b>CLIENTE</b></small>
          <small>Instituto Prodent</small>
          <small><b>FECHA</b></small>
          <small>15/03/2020</small>
          <small><b>TIPO</b></small>
          <small>Sistema Web</small>
          <small><b>ENLACE</b></small>
          <small><a href="http://" target="_blank"
              rel="noopener noreferrer">https://admin-prodent.edu-pg.com/</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-2">
  <div class="modal-content">
    <a href="#close" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z" />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="../../../../assets/resources/portfolio-2.jpg" alt="Trabajo 2">
      <div class="portfolio-info">
        <h3>PLATAFORMA INFORMATIVA PREPARACION UNIVERSITARIA</h3>
        <P>
          Es una plataforma informativa sobre los cursos preuniversitarios
          se implemento la funcion de gestionar informacion de los cursos
        </P>
        <aside class="portfolio-details">
          <small><b>CLIENTE</b></small>
          <small>Preuniversitarios IsacNewton</small>
          <small><b>FECHA</b></small>
          <small>20/07/2020</small>
          <small><b>TIPO</b></small>
          <small>Pagina web</small>
          <small><b>ENLACE</b></small>
          <small><a href="http://" target="_blank" rel="noopener noreferrer">http://www.isaacnewton.com.bo/</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-3">
  <div class="modal-content">
    <a href="#close" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z" />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="../../../../assets/resources/mathews.PNG" alt="Trabajo 3">
      <div class="portfolio-info">
        <h3>Pagina Web</h3>
        <P>
          At Mathew’s Painting, LLC we have over 30 years of experience in the
          paint, remodeling and construction industry. Our portfolio of jobs
          includes residential and commercial projects. Our owner, Mr. Salazar,
          has experience in different areas of the country and can offer advice
          based on your area’s weather, house material, landscape and other
          related factors that could impact your paint decisions
        </P>
        <aside class="portfolio-details">
          <small><b>CLIENTE</b></small>
          <small>Mathews-painting</small>
          <small><b>FECHA</b></small>
          <small>6/11/2020</small>
          <small><b>TIPO</b></small>
          <small>Web</small>
          <small><b>ENLACE</b></small>
          <small><a href="http://" target="_blank" rel="noopener noreferrer">https://mathews-painting.com/</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-4">
  <div class="modal-content">
    <a href="#close" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z" />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="../../../../assets/resources/portfolio-4.jpg" alt="Trabajo 4">
      <div class="portfolio-info">
        <h3>NOMBRE DEL PROYECTO</h3>
        <P>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae corporis fuga molestiae id eius obcaecati
          nulla, vitae officiis nam libero necessitatibus sapiente et illo aut magni numquam quis commodi atque!
        </P>
        <aside class="portfolio-details">
          <small><b>CLIENTE</b></small>
          <small>Nombre Cliente</small>
          <small><b>FECHA</b></small>
          <small>6/11/21</small>
          <small><b>TIPO</b></small>
          <small>tipo de proyecti</small>
          <small><b>ENLACE</b></small>
          <small><a href="http://" target="_blank" rel="noopener noreferrer">http//misitio.com</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-5">
  <div class="modal-content">
    <a href="#close" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z" />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="../../../../assets/resources/portfolio-5.jpg" alt="Trabajo 5">
      <div class="portfolio-info">
        <h3>NOMBRE DEL PROYECTO</h3>
        <P>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae corporis fuga molestiae id eius obcaecati
          nulla, vitae officiis nam libero necessitatibus sapiente et illo aut magni numquam quis commodi atque!
        </P>
        <aside class="portfolio-details">
          <small><b>CLIENTE</b></small>
          <small>Nombre Cliente</small>
          <small><b>FECHA</b></small>
          <small>6/11/21</small>
          <small><b>TIPO</b></small>
          <small>tipo de proyecti</small>
          <small><b>ENLACE</b></small>
          <small><a href="http://" target="_blank" rel="noopener noreferrer">http//misitio.com</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article class="modal" id="trabajo-6">
  <div class="modal-content">
    <a href="#close" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z" />
      </svg>
    </a>
    <article class="portfolio-modal">
      <img src="../../../../assets/resources/portfolio-6.jpg" alt="Trabajo 6">
      <div class="portfolio-info">
        <h3>NOMBRE DEL PROYECTO</h3>
        <P>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae corporis fuga molestiae id eius obcaecati
          nulla, vitae officiis nam libero necessitatibus sapiente et illo aut magni numquam quis commodi atque!
        </P>
        <aside class="portfolio-details">
          <small><b>CLIENTE</b></small>
          <small>Nombre Cliente</small>
          <small><b>FECHA</b></small>
          <small>6/11/21</small>
          <small><b>TIPO</b></small>
          <small>tipo de proyecti</small>
          <small><b>ENLACE</b></small>
          <small><a href="http://" target="_blank" rel="noopener noreferrer">http//misitio.com</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
