/* ********* Carrusel***** */

@keyframes carrusel-slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
}

.carrusel {
  margin: 2rem auto;
  padding: 2rem 0;
  max-width: 600px;
  text-align: center;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.5);
}

.carrusel .slides {
  padding-left: 0;
  width: 400%;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carrusel-slide 12s ease-in-out;
}

.carrusel input {
  display: none;
}

.carrusel label {
  border: medium solid #666;
  border-radius: 50%;
  margin: 0 0.25rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}

#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: #666;
}
.hero-image {
  background-image: url(../../../../assets/resources/hero-image-customers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(241, 225, 225, 0.5);
}
.section-title {
  border-top: thin solid #1d75bd;
  border-bottom: thin solid #1d75bd;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: #222;
}
