<!-- <section id="testimonios" class="testimonials">
  <article class="hero-image" style=" --hero-attachment:scroll">
    <aside class="hero-image-opacity">
      <div class="hero-image-content">
        <div class="container">
          <h2 class="section-title">Mis Clientes Dicen</h2>
          <article class="carrusel">
            <input type="radio" name="slides" id="slide-1" checked>
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <ul class="slides">
              <li class="slide">
                <img class="avatar" src="../../../../assets/resources/customer-1.jpg" alt="Cliente1">
                <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab iste nemo quaerat cum hic,
                  ducimus odio cupiditate quidem blanditiis at vitae ipsum facere inventore, et rem maiores atque!
                  Deserunt, culpa!</blockquote>
                <h3 class="text-first-color">Nombre cliente</h3>
                <h6>Puesto del cliente</h6>
              </li>
              <li class="slide">
                <img class="avatar" src="../../../../assets/resources/customer-2.jpg" alt="Cliente2">
                <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab iste nemo quaerat cum hic,
                  ducimus odio cupiditate quidem blanditiis at vitae ipsum facere inventore, et rem maiores atque!
                  Deserunt, culpa!</blockquote>
                <h3 class="text-first-color">Nombre cliente</h3>
                <h6>Puesto del cliente</h6>
              </li>
              <li class="slide">
                <img class="avatar" src="../../../../assets/resources/customer-1.jpg" alt="Cliente1">
                <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab iste nemo quaerat cum hic,
                  ducimus odio cupiditate quidem blanditiis at vitae ipsum facere inventore, et rem maiores atque!
                  Deserunt, culpa!</blockquote>
                <h3 class="text-first-color">Nombre cliente</h3>
                <h6>Puesto del cliente</h6>
              </li>
              <li class="slide">
                <img class="avatar" src="../../../../assets/resources/customer-2.jpg" alt="Cliente2">
                <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab iste nemo quaerat cum hic,
                  ducimus odio cupiditate quidem blanditiis at vitae ipsum facere inventore, et rem maiores atque!
                  Deserunt, culpa!</blockquote>
                <h3 class="text-first-color">Nombre cliente</h3>
                <h6>Puesto del cliente</h6>
              </li>
            </ul>
            <aside class="slides-nav">
              <label for="slide-1" id="dot-1"></label>
              <label for="slide-2" id="dot-2"></label>
              <label for="slide-3" id="dot-3"></label>
              <label for="slide-4" id="dot-4"></label>
            </aside>
          </article>
        </div>
      </div>
    </aside>
  </article>
</section> -->
